.btn{
    line-height: 40px;

    display: inline-block;

    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;

    cursor: pointer;
    user-select: none;
    transition: all;
    transition-timing-function: linear;
    transition-duration: .2s;
    text-align: center;

    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    &.btn-sm{
        line-height: 30px;

        height: 30px;
    }
    &.btn-xs{
        font-size: 12px;
        line-height: 20px;

        height: 20px;
    }
    &.btn-block{
        display: block;

        width: 100%;
        margin-top: 10px;
    }
    &.btn-primary{
        .btn-variant(#fff;  @brand-primary);
    }
    &.btn-info{
        .btn-variant(#fff;@brand-info);
    }
    &.btn-success{
        .btn-variant(#fff;@brand-success);
    }
    &.btn-warning{
        color: #fff;

        .btn-variant(#fff;@brand-warning);
    }
    &.btn-danger{
        color: #fff;
        border:1px solid @brand-danger;

        .btn-variant(#fff;@brand-danger);
    }
    &.btn-primary-outline{
        box-shadow: none;

        .btn-outline-variant(@brand-primary;  @brand-primary);
        tex-shawod: none;
    }
    &.btn-info-outline{
        box-shadow: none;

        .btn-outline-variant(@brand-info;  @brand-info);
        tex-shawod: none;
    }
    &.btn-danger-outline{
        box-shadow: none;

        .btn-outline-variant(@brand-danger;  @brand-danger);
        tex-shawod: none;
    }
}

.btn-group{
    position: relative;

    display: inline-block;

    vertical-align: middle;
    > .btn{
        position: relative;

        float: left;
    }
}

.btn-group-justified{
    display: table;

    width: 100%;

    table-layout: fixed;
    border-collapse: collapse;
    > .btn{
        display: table-cell;
        float: none;
    }
}
