/**
 * list-group
 */
/////////////////////////////////////////////////
.list-group{
    font-size: 16px;
    font-weight: 200;

    margin-bottom: 5px;

    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    &:last-child{
        margin-bottom: 0;
    }
    .list-item{
        line-height: 45px;

        position: relative;

        display: block;

        height: 45px;
        padding: 0 15px;

        color: @gray-darker;
        border-bottom: 1px dotted #e5e5e5;
        &:last-child{
            border-bottom: none;
        }
        &.small{
            font-size: 13px;
            line-height: 35px;

            height: 35px;
        }
        i{
            line-height: inherit;

            margin-right: 5px;

            color: @gray-dark;
        }
    }
}


/////////////////////////////////////////////////

// 2
.list{
    padding: 0;

    list-style: none;
    .list-item{
        font-size: 16px;
        line-height: 40px;

        display: block;

        height: 40px;
        padding: 5px 10px;

        vertical-align: middle;

        color: @gray-dark;
        .border-bottom();

        .fa{
            line-height: 45px;

            margin-right: 5px;

            color: @gray-light;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}

//3
.service{
    margin: 0;
    padding: 10px 0;
    .s-list{
        margin: 0;
        padding: 5px 10px;

        border-bottom: 1px solid #e0e0e0;
        dd{
            margin: 0;
        }
        .title{
            font-size: 16px;

            overflow: hidden;

            height: 24px;
        }
        .addr{
            font-size: 12px;

            color: #888;
            span{
                margin-right: 10px;

                color: #666;
            }
        }
        .attr{
            line-height: 24px;
            strong{
                font-weight: 800;

                color: #f9523e;
            }
        }
        .time{
            font-size: 12px;

            color: #999;
        }
    }
}

// 4
.list-pic-txt{
    .list-item{
        margin-bottom: 5px;
        padding: 10px;

        background: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 0 3px rgba(255, 255, 255, .5) inset;
        // border-bottom: 1px dotted darken(#f9f9f9, 15%);
        &:first-child{
            border-top: none;
        }
        &:last-child{
            margin-bottom: 0;

            border-bottom: none;
        }
        img{
            float: left;

            width: 90px;
            height: 60px;

            border: none;
            ~ dl{
                margin-left: 100px;
            }
        }
        dl{
            height: 60px;
            margin: 0;
            dt{
                overflow: hidden;

                height: 40px;
                margin: 0;
                padding: 0;
                a{
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;

                    text-decoration: none;

                    color: #222;
                    &:hover{
                        color: @brand-danger;
                    }
                }
            }
            dd{
                font-size: 11px;
                line-height: 15px;

                overflow: hidden;

                height: 15px;
                margin: 0;
                padding: 5px 0 0;

                color: #777;
                i{
                    margin-right: 3px;
                }
                span{
                    margin-right: 10px;
                }
            }
        }
    }
}

// 5

.list-pic-txt-b{
    a{
        display: block;

        text-decoration: none;

        color: inherit;
        &:hover{
            h2{
                color: #f60;
            }
        }
    }
}

.rec-item{
    padding: 0 10px;

    border-bottom: 1px solid darken(#f9f9f9, 15%);
    &:first-child{
        border-top: none;
    }
    &:last-child{
        border-bottom: none;
    }
    h2{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;

        overflow: hidden;

        height: 22px;
    }
    p{
        font-size: 12px;
        line-height: 14px;

        color: #999;
        span{
            line-height: 14px;

            margin-right: 20px;

            vertical-align: baseline;
        }
    }
}

.list-bd{
	
}



.comment{

    .comment-item{
        position: relative;
        padding:10px 10px 10px 50px;
        overflow: hidden;
        .border-bottom();
        &:last-child{
            border-bottom: 0;
        }
        .face-img{
            position: absolute;
            top:10px;
            left: 10px;
            width:30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
        }
        .comment-item-hd{
            font-size: 12px;
            .num{
                float: right;
                &.num-1{
                    color:red;
                }
                &.num-2{
                    color:#f69;
                }
                &.num-3{
                    color:orange;
                }
            }
        }
        .comment-item-bd{
            font-size: 13px;
            padding:10px 0;
            text-align: justify;
        }
        .comment-item-ft{
            font-size: 12px;
            color:#888;
        }

    }
}

//  榜单list
.bd-tab-hd{
    box-shadow: 0 1px 3px rgba(0,0,0,.15),inset 0 1px 3px rgba(255,255,255,.15);

}
.bd-list{
    background: #fff;

    .bd-list-item{
        position: relative;
        height: 40px;
        padding:10px 10px;
        overflow: hidden;
        margin-bottom: 1px;
        .border-bottom();
        &:last-child{
            border-bottom: 0;
        }
        .avatar{
            width:40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
        .bd-info{
            margin-left: 60px;
            height: 40px;
            overflow: hidden;
            h4{
                margin:0;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
            }
            p{
                margin:0;
                font-size: 12px;
            }
        }
        .bd-rank{
            position: absolute;
            top:10px;
            right: 0;
            width: 50px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 24px;
            font-family: "Arial"

        }
    }
}

