//menu list
.shotcut{
    margin:10px 0;
    .shotcut-wrap{
        ul{

            list-style: none;
            width: 100%;
            padding:0;
            margin:0;

            li{
                float: left;
                width:25%;
                padding:0;
                margin:0;
                a{
                    display: block;
                    padding:8px;
                    text-align: center;
                    overflow: hidden;
                    text-decoration: none;
                    .ico{
                        display: block;
                        width:50px;
                        height: 50px;
                        border-radius: 8px;
                        margin:0 auto;
                        background-image: url(../images/icons.png);
                        background-size: 50px 800px;
                        background-repeat: no-repeat;

                        &.ico-shbz{background-position: 0 0;}
                        &.ico-gjj{background-position: 0 -50px;}
                        &.ico-jhsy{background-position: 0 -100px;}
                        &.ico-hjsf{background-position: 0 -150px;}

                        &.ico-crj{background-position: 0 -200px;}
                        &.ico-cljt{background-position: 0 -250px;}
                        &.ico-jypx{background-position: 0 -300px;}
                        &.ico-tdfc{background-position: 0 -350px;}

                        &.ico-ldjy{background-position: 0 -400px;}
                        &.ico-yljk{background-position: 0 -450px;}
                        &.ico-zyzg{background-position: 0 -500px;}
                        &.ico-sfgz{background-position: 0 -550px;}

                        &.ico-shbs{background-position: 0 -600px;}
                        &.ico-qybs{background-position: 0 -650px;}
                        &.ico-qt{background-position: 0 -700px;}

                    }
                    span{
                        white-space: nowrap;
                        line-height: 18px;
                        font-size: 12px;
                        color:#666;
                    }

                }

            }
        } 
    }
}
