//浮动
.clearfix {
    .clearfix();
}
.fl-r,.pull-right {
    float: right !important;
}
.fl-l,.pull-left {
    float: left !important;
}

//显示隐藏
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
//三角形
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
//圆形点
.circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    vertical-align: middle;
}
//倒圆角
.radius {
    -webkit-border-radius: @border-radius-sm;
    -moz-border-radius: @border-radius-sm;
    border-radius: @border-radius-sm;
}

//圆圈
.bg-circle{
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 10px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
}


//字号
.ft12 {
    font-size: 12px;
}
.ft14 {
    font-size: 14px
}
.ft16 {
    font-size: 16px;
}
.ft18 {
    font-size: 18px;
}
.ft21 {
    font-size: 21px;
}
.ft24 {
    font-size: 24px;
}
.ft30 {
    font-size: 30px;
}
//-------------------------------------------------------------------
//背景颜色
.color-1 {
    background: #6ec041;
}
.color-2 {
    background: #f9c356;
}
.color-3 {
    background: #fe864a;
}
.color-4 {
    background: #ff687b;
}
.color-5 {
    background: #fe8862;
}
.color-6 {
    background: #42bde7;
}
.color-7 {
    background: #7b7ad7;
}
.color-8 {
    background: #f9523e;
}
